<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      {{#each selected as |file|}}
      <tr>
        <td></td>
        <td><a href="">{{file.base}}</a></td>
        <td>{{file.fileType}}</td>
        <td>dolor</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>